// // -------- Colors -----------
$primary: #475ce6;
$primary-active: #3240bf;
$primary-hover: #7287f2;
$primary-5: rgba($primary, 0.05);
$primary-10: rgba($primary, 0.1);
$primary-15: rgba($primary, 0.15);
$primary-20: rgba($primary, 0.2);
$primary-50: rgba($primary, 0.5);
$body-background: #f7fafa;
$border-color-base: #e1e6e6;
$text-color: #181a1a;
$text-color-secondary: #3d4242;
$text-color-third: #626a6a;
$text-color-fourth: #889191;
$important-color: #ff401a;
$important-color-5: rgba($important-color, 0.05);
$important-color-10: rgba($important-color, 0.1);
$success-color: #00b354;
$success-color-5: rgba($success-color, 0.05);
$success-color-10: rgba($success-color, 0.1);
$warning-color: #ff7800;
$warning-color-5: rgba($warning-color, 0.05);
$warning-color-10: rgba($warning-color, 0.1);
$error-color: #ff401a;
$error-color-5: rgba($error-color, 0.05);
$error-color-10: rgba($error-color, 0.1);
$disabled-color: #afb6b6;

page {
  // 主题色（包含各类透明度）
  --primary-color: #{$primary} !important;
  --loading-spinner-color: #{$primary};
  --primary-color-hover: #{$primary-hover};
  --primary-color-active: #{$primary-active};
  --primary-color-5: #{$primary-5};
  --primary-color-10: #{$primary-10};
  --primary-color-15: #{$primary-15};
  --primary-color-20: #{$primary-20};
  --primary-color-50: #{$primary-50};
  // 背景色
  --body-background: #{$body-background};
  // 边框色
  --border-color-base: #{$border-color-base};
  // 文字色（各级文字）
  --text-color: #{$text-color};
  --text-color-secondary: #{$text-color-secondary};
  --text-color-third: #{$text-color-third};
  --text-color-fourth: #{$text-color-fourth};
  // 重要色（包含各类透明度）
  --important-color: #{$important-color};
  --important-color-5: #{$important-color-5};
  --important-color-10: #{$important-color-10};
  // 成功色（包含各类透明度）
  --success-color: #{$success-color};
  --success-color-5: #{$success-color-5};
  --success-color-10: #{$success-color-10};
  // 警告色（包含各类透明度）
  --warning-color: #{$warning-color};
  --warning-color-5: #{$warning-color-5};
  --warning-color-10: #{$warning-color-10};
  // 错误色（包含各类透明度）
  --error-color: #{$error-color};
  --error-color-5: #{$error-color-5};
  --error-color-10: #{$error-color-10};
  // 禁用色
  --disabled-color: #{$disabled-color};

  box-sizing: border-box;
    font-weight: normal;

  // 小程序兼容的 box-sizing 设置
  view,
  text,
  button,
  input,
  textarea,
  image,
  scroll-view,
  swiper,
  div,
  picker,
  navigator {
    box-sizing: border-box;
  }
}
